<ion-view view-title="{{'app' | translate}}" class="home">
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-search" ng-click="goTo('app.search')" ng-if="selectedTab() == 0"></button>
		<button class="button button-icon button-clear ion-ios-bell" ng-click="goTo('app.notifications', {}, true, true, true)"></button>
	</ion-nav-buttons>

	<ion-tabs class="tabs-calm">
		<ion-tab title="{{'home_tab_1' | translate}}">
			<ion-pane>
				<ion-content>
					<h4 class="padding" ng-if="!!requests && requests.length == 0">{{'requests_empty' | translate}}</h4>
					<div class="card" ng-repeat="request in requests" ng-if="!!requests && requests.length > 0" ng-click="openRequestDetails(request)">
						<div class="item item-text-wrap">
							<h2>{{request.poi.name}}</h2>
							<h3><i class="icon ion-calendar"></i>{{request.startTime | date:'longDate'}}, {{request.startTime | date:'shortTime'}}</h3>
							<span class="badge badge-energized" ng-if="!!requestsNotifications[request.objectId]">
								<i class="icon ion-ios-bell"></i>
								{{requestsNotifications[request.objectId].length}}
							</span>
						</div>
					</div>
				</ion-content>
				<button class="button button-energized button-fab" ng-click="goTo('app.newrequest')">
					<i class="icon ion-plus"></i>
				</button>
			</ion-pane>
		</ion-tab>

		<ion-tab title="{{'home_tab_2' | translate}}">
			<ion-pane>
				<ion-content>
					<h4 class="padding" ng-if="!!offers && offers.length == 0">{{'offers_empty' | translate}}</h4>
					<div class="card" ng-repeat="offer in offers" ng-if="!!offers && offers.length > 0" ng-click="openOfferDetails(offer)">
						<div class="item item-text-wrap">
							<h2>{{offer.poi.name}}</h2>
							<h3 ng-if="!!offer.startTime && !!offer.endTime">
									<i class="icon ion-clock"></i>{{offer.startTime | date:'longDate'}}, {{offer.startTime | date:'shortTime'}} - {{offer.endTime | date:'shortTime'}}
							</h3>
							<span class="badge badge-energized" ng-if="!!offersNotifications[offer.objectId]">
								<i class="icon ion-ios-bell"></i>
								{{offersNotifications[offer.objectId].length}}
							</span>
						</div>
					</div>
				</ion-content>
				<button class="button button-energized button-fab" ng-click="goTo('app.newoffer')">
					<i class="icon ion-plus"></i>
				</button>
			</ion-pane>
		</ion-tab>
	</ion-tabs>
</ion-view>
