<ion-view view-title="{{'offer_detail' | translate}}" class="offer details">
	<ion-nav-buttons side="right">
	</ion-nav-buttons>

	<ion-content class="padding">
		<div class="professional" ng-if="!isMine()">
			<div class="item item-text-wrap item-thumbnail-left">
				<img ng-src="{{generateImageUrl(offer.professional.imageUrl)}}" />
				<ul>
					<li class="name">{{offer.professional.surname}} {{offer.professional.name}}</li>
					<!--<li class="type">{{'professional_type_' + offer.professional.type | translate}}</li>-->
					<li class="type">{{offer.professional.type}}</li>
				</ul>
			</div>
			<ul>
				<li class="address"><i class="icon ion-location"></i>{{offer.professional.address}}</li>
				<li class="phone"><i class="icon ion-android-call"></i><a ng-href="tel:{{offer.professional.phone}}">{{offer.professional.phone}}</a></li>
				<li class="phone" ng-if="!!offer.professional.cellPhone"><i class="icon ion-iphone"></i><a ng-href="tel:{{offer.professional.cellPhone}}">{{offer.professional.cellPhone}}</a></li>
				<li class="email"><i class="icon ion-email"></i><a ng-href="mailto:{{offer.professional.mail}}">{{offer.professional.mail}}</a></li>
				<li class="email"><i class="icon ion-email-unread"></i><a ng-href="mailto:{{offer.professional.pec}}">{{offer.professional.pec}}</a></li>
			</ul>
		</div>

		<!--
		<div class="row" ng-if="!isMine()">
			<div class="col col-50">
				<a class="button button-block button-calm button-outline icon-left ion-android-call" ng-href="tel:{{offer.professional.phone}}">
					{{'call' | translate}}
				</a>
			</div>
			<div class="col col-50">
				<a class="button button-block button-calm button-outline icon-left ion-email" ng-href="mailto:{{offer.professional.mail}}">
					{{'email' | translate}}
				</a>
			</div>
		</div>
		-->

		<div class="poi">
			<div>{{'offer_detail_poi' | translate}}</div>
			<ul>
				<!--<li class="type">{{offer.poi.type}}</li>-->
				<li class="name">{{offer.poi.name}}</li>
				<li class="description">{{offer.poi.description}}</li>
				<li class="address">{{offer.poi.address}}</li>
			</ul>
		</div>

		<div class="datetime" ng-if="!!offer.startTime && !!offer.endTime">
			<div>{{'offer_detail_date' | translate}} <span class="date">{{offer.startTime | date:'longDate'}}</span>, <span class="time">{{offer.startTime | date:'shortTime'}} - {{offer.endTime | date:'shortTime'}}</span></div>
		</div>

		<div ng-if="matchingRequests != null && matchingRequests.length > 0" class="matches">
			<span>{{'matching_requests' | translate}}</span>
			<div class="card" ng-repeat="request in matchingRequests" ng-if="!!matchingRequests && matchingRequests.length > 0" ng-click="openRequestDetails(request)">
				<div class="item item-text-wrap item-thumbnail-left" ng-class="{'item-thumbnail-left': !!request.requester.imageUrl}">
					<img ng-src="{{generateImageUrl(request.requester.imageUrl)}}" />
					<h2>{{request.requester.surname}} {{request.requester.name}}</h2>
					<h3>{{request.startTime | date:'longDate'}}, {{request.startTime | date:'shortTime'}}</h3>
				</div>
			</div>
		</div>
	</ion-content>

	<ion-footer-bar ng-if="isEditable()">
		<button class="button button-assertive button-block" ng-click="deleteOffer()">
			{{'delete' | translate}}
		</button>
	</ion-footer-bar>

	<!--
	<ion-footer-bar>
		<button ng-if="isMine()" class="button button-assertive button-outline button-block" ng-click="deleteOffer()">
			{{'delete' | translate}}
		</button>
		<div class="row" ng-if="!isMine()">
			<div class="col col-50">
				<button class="button button-block button-calm button-outline icon-left ion-android-call">{{'call' | translate}}</button>
			</div>
			<div class="col col-50">
				<button class="button button-block button-calm button-outline icon-left ion-email">{{'email' | translate}}</button>
			</div>
		</div>
	</ion-footer-bar>
	-->
</ion-view>
