<ion-view view-title="{{'app' | translate}}" class="searchresults">
	<ion-nav-buttons side="right">
		<!--<button class="button button-icon button-clear" ng-click=""></button>-->
	</ion-nav-buttons>

	<ion-content>
		<h4 class="padding" ng-if="!!offers && offers.length == 0">
			{{'offers_empty' | translate}}
		</h4>

		<p class="padding" ng-if="!!offers && offers.length > 0">{{'searchresults_desc' | translate}}</p>
		<ion-list ng-if="!!offers && offers.length > 0">
			<div class="card" ng-repeat="offer in offers" ng-click="openOfferDetails(offer)">
				<div class="item item-thumbnail-left">
					<img ng-src="{{generateImageUrl(offer.professional.imageUrl)}}" />
					<h2>{{offer.professional.surname}} {{offer.professional.name}}</h2>
					<!--<p>{{offer.professional.type}}</p>-->
					<ul>
						<li class="phone"><i class="icon ion-android-call"></i>{{offer.professional.phone}}</li>
						<li class="email"><i class="icon ion-email"></i>{{offer.professional.mail}}</li>
					</ul>
					<!--
					<button class="button button-small button-calm" ng-click="">
						<i class="icon ion-email"></i>
					</button>
					<button class="button button-small button-calm" ng-click="">
						<i class="icon ion-android-call"></i>
					</button>
					-->
				</div>

				<!--
				<div class="actions">
					<a class="button button-small button-calm button-outline icon-left ion-android-call" ng-href="tel:{{offer.professional.phone}}">
						{{'call' | translate}}
					</a>
					<a class="button button-small button-calm button-outline icon-left ion-email" ng-href="mailto:{{offer.professional.mail}}">
						{{'email' | translate}}
					</a>
				</div>
				-->
			</div>
		</ion-list>
	</ion-content>
</ion-view>
