<ion-view view-title="{{'search_title' | translate}}" class="search">
	<ion-nav-buttons side="right">
		<!--<button class="button button-icon button-clear" ng-click=""></button>-->
	</ion-nav-buttons>

	<ion-content class="padding">
		<!--<p>{{'searchOffer_desc' | translate}}</p>-->

		<div class="list">
			<div class="item item-input item-stacked-label" ng-click="openPoisModal()">
				<span class="input-label">{{'form_poi' | translate}}</span>
				<!--<input type="text" readonly placeholder="{{'form_poi_placeholder' | translate}}" ng-model="searchOffer.poi.name" />-->
				<div class="input-value" ng-class="{'placeholder': !searchOffer.poi}">
					{{searchOffer.poi.name ? searchOffer.poi.name : ('form_poi_placeholder' | translate)}}
				</div>
			</div>

			<div class="row">
				<div class="col col-60">
					<div class="item item-stacked-label" ng-click="openDatePicker()">
						<span class="input-label">{{'form_date' | translate}}</span>
						<div class="input-value" ng-class="{'placeholder': !searchOffer.date}">
							{{searchOffer.date ? (searchOffer.date | date:'longDate') : ('form_date_placeholder' | translate)}}
						</div>
					</div>
				</div>
				<div class="col col-40">
					<div class="item item-stacked-label" ng-click="openTimePicker('from')">
						<span class="input-label">{{'form_time_from' | translate}}</span>
						<div class="input-value" ng-class="{'placeholder': !searchOffer.time}">
							{{searchOffer.time ? (searchOffer.time | date:'shortTime':'GMT') : ('form_time_placeholder' | translate)}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--<button class="button button-block button-calm" ng-click="openPoisModal()">Apri POIs Modal</button>-->
		<!--<button class="button button-block button-calm" ng-click="openDatePicker()">Apri DatePicker</button>-->
		<!--<button class="button button-block button-calm" ng-click="openTimePicker()">Apri TimePicker</button>-->
		<!--<button class="button button-block button-calm" ng-click="goTo('app.home')">app.home</button>-->
	</ion-content>

	<ion-footer-bar>
		<button class="button button-energized button-block" ng-disabled="!searchOffer.poi || !searchOffer.date || !searchOffer.time" ng-click="searchOffers()">
			{{'search' | translate}}
		</button>
	</ion-footer-bar>
</ion-view>
